@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}


.form_container {
    width: 450px;
    height: 100px;
    display: inline-block;
    margin: 20px 20px;
    padding: 10px;

}

.form_container input[type='text'],
.form_container button {
    padding: 8px;
    font-size: 1.5em;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #504954;
    font-family: 'Poppins', sans-serif;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border: solid;
    border-bottom: none;
    border-color: black;

}

.bottom-frame {
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    border: solid;
    border-color: black;
}

.result-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border: solid;
    border-bottom: none;
    border-color: black;

}

.form-fields {
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    text-align: center;
    border: solid;
    border-bottom: none;
    border-color: black;
}

.field {
    padding: 5px;
}

.form-subit {
    padding: 5px;
}

.middle-frame {
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    border: solid;
    border-bottom: none;
    border-color: black;
}


.logo {
    text-decoration: none;
    color: rgb(217, 217, 217);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;

}

.logo a {
    color: rgb(217, 217, 217);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 55%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(217, 217, 217);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(217, 217, 217);
    margin: 5px;
    transition: all 0.3s ease;

}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 70%;
    }
}

@media screen and (max-width:768px) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: 50vh;
        top: 10vh;
        background-color: #504954;
        display: auto;
        flex-direction: column;
        align-items: center;
        width: 70%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0);

}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.quote {
    margin: 0 auto;
    max-width: 15rem;
}

.quote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

.quote p::before {
    content: '\201C';
}

.quote p::after {
    content: '\201D';
}

figcaption {
    margin: 0 auto;
    max-width: 15rem;
    padding: 1rem;
}